@import 'bootstrap/dist/css/bootstrap.css';
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(194, 100, 83) 0%, rgb(27, 81, 135) 25%, rgb(55, 127, 55) 51%, rgb(18, 134, 134) 100%);
  background-image: linear-gradient(-45deg, #e33b3b 0%, #505258 25%, #8993b5 50%, #083560 100%);
  animation: background-shift 20s ease infinite;

@keyframes background-shift
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%;
}

.button-container {
  background-color:rgb(231, 192, 21);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  border-radius: 5%;
  border: black 1px solid;
}

.d-inline-block {
  border-radius: 8%;
  border: black inset 1px;
}

.text-white-ms-5-details {
  border: 1px black solid;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 15px;
  background-color:#2E3A4F;
  color:aliceblue;

}

.root-beer-details-container {
  margin-top: 50px;
}

.card {
  background-color:rgb(27, 81, 135);
  box-shadow: rgb(108, 136, 204) 0px 5px 10px;
  flex: 0 0 calc(33.33% - 20px);
  border-radius: 2%;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;

}

.store-view,
.store-url,
.store-delete {
  width: auto;
  margin-top:12%;

}

.store-card {
  background-color: #2E3A4F;
  height: 15vh;
  border: black 1px solid;
  color:aliceblue;
}

@media (max-width: 768px) {
  .store-card {
    height: auto; /* Adjust the height to fit content */
    padding: 10px; /* Add padding for better spacing */
  }

  .store-view,
  .store-url,
  .store-delete {
    margin-top: 8px; /* Adjust the margin-top for better spacing */
  }
}

.text-red-500 {
  color: rgb(231, 192, 21);
}

.text-blue-500 {
  color: rgb(3, 3, 3);
}

.genericBtn{
  background-color: rgb(231, 192, 21);
  border: black 1px inset;
  margin-top: 1vh;
  margin: 2px;
}

.genericBtn:hover{
  background-color: rgb(231, 192, 21);
  border: black 1px inset;
  box-shadow: rgb(108, 136, 204) 0px 5px 10px;
}

.genericImage {
  border: black 1px solid;
  border-radius: 5%;
}

.signOut {
  background-color: rgb(203, 0, 0);
  border: black inset 1px;
  width: 150px;
}

.comment-accordion {
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px black solid;
}
.comment-modal {
  border: 1px rgb(27, 81, 135) solid;
}
.m-2 {
  color: black;
}

.userData {
  background-color: gray;
  color: aliceblue;
}
.comment-head {
  box-shadow: rgb(108, 136, 204) 0px 5px 10px;
  max-width: auto;
  text-align: center;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-top: auto;
  font-size: x-large;
  background-color: #2E3A4F;
  color: aliceblue;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
}
.communityFavorites,
.indexHead,
.user-favorites,
.userRecommends,
.stores {
  margin-top: auto;
  font-size: x-large;
  background-color: #2E3A4F;
  color: aliceblue;
  height: 125px;
  margin: 100px;
  border-radius: 8px;
  box-shadow: rgb(108, 136, 204) 0px 5px 10px;
  max-width: auto;
  text-align: center;
  border: black inset 1px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.comment-text {
  display: flex;
  justify-content: left;
  align-items: left;
  border-top: 1px black solid;
  padding-top: 8px;
  max-height: 200px !important;
  overflow-y: auto !important;
}


.comment-accordion {
  border: 1px black solid;
}

.favorite-count {
  text-align: center;
}

.rankTable{
  background-color:#2E3A4F ;
  color: aliceblue;
  border: black 1px solid;
}
table {
  margin: 20px;
  box-shadow:rgb(108, 136, 204) 0px 5px 10px;
  background-color:#2E3A4F ;
  color: aliceblue;
  border: black 1px solid;
}

th {
  border-right: 1px solid lightgrey;
  padding: 10px;
  border: black 1px solid;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myRecommends,
.rootBeerContainer,
.myFavorites {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-bar {
  height: 50px;

}

#sign-in {
  color: aliceblue;
}

.store-view:hover,
.store-url:hover,
.store-delete:hover,
.text-blue-500:hover,
.text-red-500:hover,
.m-2:hover {
  animation: shaking 0.5s infinite;}
      @keyframes shaking {
         0% {transform: rotate(0deg);}
         20% {transform: rotate(-4deg);}
         50% {transform: rotate(0deg);}
         70% {transform: rotate(4deg);}
         100% {transform: rotate(0deg);}
}

.store-view:hover,
.store-url:hover,
.store-delete:hover {
  color: rgb(231, 192, 21) ;
}

.beer-logo {
  border: 1px black solid;
  background-color: lightgray;
}

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

#signInBtn {
  color: aliceblue;
  background-color: rgb(231, 192, 21);
  border: black inset 1px;
  margin-top: 10px;
  width: 15vh;
}

#signInBtn:hover{
  background-color: rgb(231, 192, 21);
  border: black 1px inset;
  box-shadow: rgb(108, 136, 204) 0px 5px 10px;
}

#sign-in-logo {
  width: 400px;
  height: auto;
  border-radius: 8%;
  border: black 2px inset;
  box-shadow: rgb(108, 136, 204) 0px 5px 10px;
}

@media (max-width: 768px) {
  .indexHead,
  .user-favorites,
  .userRecommends,
  .stores {
    margin: 20px;
    height: 100px;
    padding-top: 3vh;
  }

  .button-container {
    flex-direction: column;
    align-items: center; 
  }

  .card {
    flex: 0 0 calc(50% - 20px);
  }

  .myFavorites,
  .myRecommends {
    justify-content: center; 
  }
}

@media (min-width: 1200px) {
  .indexHead,
  .comment-accordion,
  .comment-modal,
  .comment-head,
  .user-favorites,
  .userRecommends,
  .stores {
    margin: 0 auto; 
    padding-top: 5vh;
  }

  .card {
    flex: 0 0 calc(25% - 20px); 
  }
}
